.admin-sidebar {
    background: #fff;
    border-right: 1px solid #e5e5e5;
    min-height: 100vh;
    padding: 20px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-item {
    padding: 20px 22px;
    display: block;
    background: #f8f9fa;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.2s;
    color: #333;
   
}

.sidebar-item i {
    margin-right: 6px;
}

.sidebar-item:hover,
.sidebar-item.active {
    background: #0d6efd;
    color: #fff !important;
}
.sidebar-title {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}